@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

:root {
  --windowSW: 0;
  --maxWidth: 0;
  --transformIndexFrom: translate(0,0);
  --transformIndexTo: translate(0,0);
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
}